name : Update README all day at 04:04

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '03 4 * * *'

jobs:
  update-readme:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - uses: actions/checout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Update README.md file
        run: |
          node index.js > README.md
        env:
          CI: true
      - name: commit changes
        uses: EndBug/add-and-commit@v4
        with:
          author_name: 97mams
          author_email: 97mams@gmail.com
          force: false
          signoff: false
          message: ':memo: README.md updated by Gibot'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}